* {
  box-sizing: border-box;
}

body {
 
  font-family: Arial, sans-serif;
  background: #fff;
  color: #333;
  
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  border-bottom: 1px solid #eee;
}

.nav-right a{
  margin-inline: 10px;
  text-decoration: none;
  color: #333;
}
.cart-btn{
  background: none;
  border: none;
  cursor: pointer;
}
.cart-btn img{
     height: 35px;
  max-width: 35px;
}
.checkout-header {
  width: 100%;
  padding: 40px 90px 10px;
}

.checkout-header h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
}

.coupon-bar {
  width: 100%;
  background: #f6f7f1;
  padding: 20px 20px;
  border-left: 4px solid #7cc957;
  font-size: 14px;
  border-radius: 3px;
}

.coupon-bar a {
  color: #7cc957;
  text-decoration: none;
  font-weight: 600;
}


/* --- LAYOUT --- */
.checkout-page {
     margin: 0 70px;
  display: flex;
  gap: 50px;
  padding: 20px 90px 70px;
  align-items: flex-start;
}

/* LEFT SIDE */
.billing {
  flex: 1.5;
}

.billing h2 {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 600;
}

.field {
  margin-bottom: 15px;
}

.two-cols {
  display: flex;
  gap: 15px;
}

label {
  font-size: 13px;
  margin-bottom: 5px;
  display: block;
}

label span { color: red; }

input, select {
  width: 100%;
  padding: 10px;
  font-size: 13px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

/* --- RIGHT SIDE --- */
.order-summary {
  flex: 1;
}

.order-box {
  background: white;
  border: 1px solid #e6e6e6;
  padding: 15px 22px 22px 22px;
  border-radius: 4px;
  font-size: 14px;
  width: 420px;
  height: 578px;
 margin-top: 52px;
}

.order-summary h2 {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 600;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #f1f1f1;
  font-size: 14px;
}

.row.head {
  font-weight: 600;
}

.row:last-child {
  border-bottom: 0;
}

.row.total {
  font-size: 16px;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
  font-weight: 600;
}

/* PAYMENT BOX */
.payment-box {
  border: 1px solid #ddd;
  background: #fafafa;
  padding: 15px;
  border-radius: 4px;
  margin-top: 20px;
}

.payment-option {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding-right: 240px;
 
}

.payment-desc {
  font-size: 12px;
  margin-left: 26px;
  color: #666;
}

/* NO PAYMENT BOX */
.no-payment-box {
  margin-top: 20px;
  padding: 14px;
  background: #f2f7ec;
  border-left: 4px solid #7cc957;
  font-size: 13px;
  line-height: 1.5;
}

.no-payment-box p {
  margin: 0;
}

/* BUTTON */
.place-order {
  width: 100%;
  background: #7cc957;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  margin-top: 22px;
  cursor: pointer;
}

.place-order:hover {
  background: #68b44b;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
  .checkout-page {
    flex-direction: column;
    padding: 20px;
  }
  .checkout-header {
    padding: 20px;
  }
}


.testimonials-section {
    text-align: center;
    background-color: #eaf4d3;
     font-family: Arial, sans-serif;
}


.dev{
     background-image: linear-gradient(rgba(8, 8, 8, 0.599), rgba(21, 22, 21, 0.697)), url('../System Analysis Project/footer-bg.jpg');
      background-size: cover;
        height: 100px;
        background-position: center;
        color: white;
        padding: 100px 0px 210px 0px;
        text-align: center;
        margin: 50px 0px;
}

.testimonials-section a{
      text-decoration: none;
        padding: 11px 25px;
        border-radius: 50px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 10px;
        display: inline-block;
        transition: 0.3s ease;
}

  .btn2 {
        background-color:#58a335;
        color: white;
      }
      
      .btn2:hover {
        background-color:  rgba(255, 255, 255, 0);
        border: 2px solid#58a335;
      }


      /* Footer inside same section */
.footer-section{
 padding: 10px 100px;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}


.footer-logo span {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 1px;
}

.footer-links li a {
    text-decoration: none;
    color: #4a6b2d;
    font-size: 15px;
    font-weight: 100;
}

.social-icons i {
    font-size: 22px;
    margin-left: 15px;
    cursor: pointer;
}

.footer-line {
    width: 85%;
    margin: 25px auto;
    border: 1px solid #d5e5b0;
}

.flash3{
letter-spacing: .4;
font-weight: 10;
}